<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content=" name={{info.author.name}}, email={{info.author.email}}">
    <title>Admin :: {{req.session.page}}</title>
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
     --><link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/Chart.bundle.min.js"></script>
    <script src="js/expd.js"></script>
    <link rel="icon" type="x-image/ico" href="img/favicon.ico">
    @!section("links")
</head>
<body>
     <div class="loading d-flex">Loading...</div>
    <div class="container-fluid admin-panel">
        <header class="header d-flex-between" id="header">
            <div id="burger" class="burger" >
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <!-- <div class="d-none d-sm-block">
                <form class="form-inline">
                    <input id="search" class="custom-control" type="text" name="search" placeholder="search">
                    <button>
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div> -->
            <div class="pull-right">
                <img class="img-circle" src="/img/users/{{req.session.user.image}}" width="35px" height="35px">
                <a href="/logout">Logout</a>
            </div>
        </header>
        <aside id="aside-menu" class="aside-menu d-flex-column">
            <div id="close-menu" class="div-select text-center"> &times;
            </div>
            <div class="d-flex-column">
                <div class="profile-img d-flex">
                    <img class="img-circle" src="/img/users/{{req.session.user.image}}" width="45px" height="45px">
                    <div class="profile-right">
                        <h5 class="card-title small">{{req.session.user.fullname}}</h5>
                        <h6 class="card-subtitle small">@ {{req.session.user.username}}</h6>
                    </div>
                </div>
            </div>
            <hr>
            <ul class="menu d-flex-column">
                <li class="menu-item">
                    <a class="menu-link" href="/dashboard">
                        <i class="fa fa-tachometer"></i>Dashboard
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/">
                        <i class="fa fa-eye"></i>View Site
                    </a>
                </li>
                <li class="menu-item">
                    <div class="group-title">Posts</div>
                    <a class="menu-link" href="/newpost">
                        <i class="fa fa-edit"></i>New Post
                    </a>
                    <a class="menu-link" href="/posts">
                        <i class="fa fa-file"></i>Posts
                    </a>
                    <a class="menu-link" href="/categories">
                        <i class="fa fa-list"></i>Categories
                    </a>
                </li>
                <li class="menu-item">
                    <div class="group-title">Messages</div>
                    <a class="menu-link" href="/comments">
                        <i class="fa fa-comments-o"></i>Comments
                    </a>
                    <a class="menu-link" href="/contacts">
                        <i class="fa fa-envelope"></i>Contacts
                    </a>
                    <a class="menu-link" href="/testimonials">
                        <i class="fa fa-quote-left"></i>Testimonials
                    </a>
                </li>
                <li class="menu-item">
                    <div class="group-title">Users</div>
                    <a class="menu-link" href="/subscribers">
                        <i class="fa fa-users"></i>Subscribers
                    </a>
                    <a class="menu-link" href="/admins">
                        <i class="fa fa-user-secret"></i>Admins
                    </a>
                </li>
                <li class="menu-item">
                    <div class="group-title">Teams & Members</div>
                    <a class="menu-link" href="/new-member">
                        <i class="fa fa-user-plus"></i>New Member
                    </a>
                    <a class="menu-link" href="/members">
                        <i class="fa fa-users"></i>Members
                    </a>
                    <a class="menu-link" href="/teams">
                        <i class="fa fa-users"></i>Teams
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/profile">
                        <i class="fa fa-user"></i>Profile
                    </a>
                </li>
                <li class="menu-item">
                    <div class="group-title">Settings</div>
                    <a class="menu-link" href="/settings">
                        <i class="fa fa-cog"></i>Basics
                    </a>
                     <a class="menu-link" href="/services">
                        <i class="fa fa-cog"></i>Services
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/Logout">
                        <i class="fa fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main id="main" class=" main" >
            @!section("content")
        </main>
        <footer id="footer" class="footer d-flex-between">
           <p class="small">Designed By 
                <a href="mailto:{{info.author.email}}">
                    {{info.author.name}}
                </a>
            </p>
            <p class="small">&copy; Copyright 2020</p>
        </footer>
    </div>
    <script>
        var showImage = (fileSource) =>{
            var imageSource = window.URL.createObjectURL(fileSource);
            $('#imagePreview').attr('src', imageSource);
        }
        $('#image').change( function () {
            showImage(this.files[0]);
        })
    </script>
    @!section("scripts")
</body>

</html>