<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content=" name={{info.author.name}}, email={{info.author.email}}">
    <title>EXPD:: Admin</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
    @!section("links")
</head>

<body>
    <div class="container-fluid">
        <div class="fixed-bottom back-top"> <a href="#main">&uparrow;</a></div>
        <div id="float-menu" class="menu" onclick="Toggler()"><i id ="menu-icon" class="fa fa-close"></i></div>
        <div class="row">
            <div id="nav" class="p-2 dashboard col-md-2 col-sm-4 col-xs-6" >
                <div>
                    <div>
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4 class="text-center text-muted">Dashboard </h4></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="profile-block">
                                        <div class="profile-image">
                                            <img class="img-circle img-responsive" src="img/users/{{req.session.user.image}}" >
                                        </div>
                                        <div class="profile-title text-muted">{{req.session.user.fullname}}
                                        <small>@ {{req.session.user.username}} </h6></small></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-unstyled navigation">
                            <li>
                                <a href="/dashboard"><i class="fa fa-tachometer"></i> Overview</a>
                            </li>
                            <li>
                                <a href="/"><i class="fa fa-home"></i> View Site</a>
                            </li>
                            <li>
                                <div class="text-muted">Posts </div>
                                <a href="/create"><i class="fa fa-edit"></i> New Post</a>
                                <a href="/posts"><i class="fa fa-file-text"></i> View Posts</a>
                                <a href="/categories"><i class="fa fa-object-group"></i> Categories</a>
                            </li>
                            <li>
                                <div class="text-muted">Comments</div>
                                @if(unreadComments != 0)
                                <a href="/unread"><i class="fa fa-comments"></i> Unread<span class="badge pull-right">{{unreadComments || 0}}</span></a>
                                @endif
                                <a href="/comments"><i class="fa fa-comments-o"></i> All Comments</a>
                            </li>
                            <li>
                                <div class="text-muted">Members</div>
                                <a href="/new-member"><i class="fa fa-user-plus"></i> Add Members</a>
                                <a href="/members"><i class="fa fa-users"></i> Members</a>
                            </li>
                            <li>
                                <div class="text-muted">Audience</div>
                                <a href="/admins"><i class="fa fa-user-secret"></i> Admins</a>
                                <a href="/users"><i class="fa fa-users"></i> Users</a>
                                <a href="/profile"><i class="fa fa-user"></i> My Profile</a>
                            </li>
                            <li>
                                <div class="text-muted">Miscellenious</div>
                                <a href="/settings"><i class="fa fa-cog"></i> Site Settings</a>
                                <a href="/logout">
                                    <i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div><span class="text-muted">Follow Us</span>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><a href="{{info.facebook}}" target="_BLANK"><i class="fa fa-facebook-square"></i></a></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><a href="{{info.twitter}}" target="_BLANK"><i class="fa fa-twitter-square"></i></a></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ><a href="{{info.github}}" target="_BLANK"><i class="fa fa-github-square"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main" class="col-md-10 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row header">
                            <div class=" pull-right" >
                                <span>
                                    <i class="fa fa-smile-o"></i> Hi {{req.session.user.username || ''}}, Welcome </span>
                                <span class="text-danger">
                                    <a href="/logout">
                                        <i class="fa fa-sign-out"> Logout</i>
                                    </a>
                                </span>
                            </div>
                                
                        </div>
                        <div class="container-fluid">
                                @!section("content")
                                @!section("aside")
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                                <p class="text-center">Copyright © 2019</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-6 col-xs-12 text-center"><a href="mailto:{{info.author.email}}" target="_top">Admin: {{info.author.name}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
        function Toggler(){
            var nav = document.getElementById("nav")
            var main = document.getElementById("main")
            var menu_icon = document.getElementById("menu-icon")
            nav.classList.toggle("col-md-2")
            nav.classList.toggle("col-sm-4")
            nav.classList.toggle("col-xs-6")
            nav.classList.toggle("hidden")
            main.classList.toggle("col-md-10")
            main.classList.toggle("col-sm-8")
            menu_icon.classList.toggle("fa-bars")
            menu_icon.classList.toggle("fa-close")
        }
    </script>
    @!section("scripts")
</body>

</html>