@layout("layout")

@section("content")
<div class="row">
    <div class="col-4">
        <div class="nav flext-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="verticle">
            
        </div>
    </div>
    <div class="col-8">
        
    </div>
</div>
@endsection