body{
    background-color: #fff;
    color: #222;
}
.loading{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    /*background-image: url('img/loading.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;*/
    background-color: #222;
    color: #fff;
    font-family: 'Times New Roman', 'Times', serif;
    font-weight: 300;
    font-size: 18px;
}
#navigation{
    position: sticky;
    top: 10%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}
.logo{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#footer{
    background-color:#f0e4d4;
    color: #444;
}
#footer a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}
#footer a:hover{
    opacity: 1; 
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-none{
    border: none;
}
a.call-link, button.call-btn{
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 3px;
    min-height: 20px;
}
a.call-link:hover, button.call-btn:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #FFF;
}

.u-curvy{
    border-bottom: 1px  ridge #444;
}
form#comment{
    max-width: 400px;
    margin: auto;
    margin-top: 5px;
}
#post-content{
    background-color: white;
    min-height: 20%;
    padding: 2px;
    align-items: center;
}
.login-card{
    max-width: 350px;
    padding: 40px 40px;
    background-color: #F7F7F7;
    margin: 0 auto 25px;
    margin-top: 50px;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)
}
.login-card .profile-img-card{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}
.login-card button:hover{
    background-color: green;
}
#post-content textarea{
    margin-top: 5px;
}
.main-posts{
    overflow-x: hidden;
}
.posts-overview .overview{
    width: 100%;
}

.img-circle{
    border-radius: 100%;
}
.post-settings{
    width: 30%;
    float: left;
}
.back-top{
    position: fixed;
    right: 5px;
    bottom: 5px;
    background-color: #000;
    color: #FFF;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 8px;
    font-size: 25px;
    border-radius: 100%;
    opacity: 0.7;
    z-index: 2;
}
.back-top a{
    text-decoration: none;
}
article.member{
    width:50%;
    padding: 1px;
}
div.mainSection{
    width:100%;
    margin:0;
}

.signup-form{
    margin:auto;   
}
.popup{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}
.popup.popup-no{
    display: none;
}
#popup{
    /*display: none;*/
    position: relative;
    max-width: 500px;
    min-width: 200px;
    flex: 1;
    flex-wrap: wrap;
    background-color: #f0e4d4;
}
#popup .close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 30px; /* 100 % */
}
#popup input{
    padding: 10px;
    border: 0;
    border-radius: 10px 0 0 10px;
    border: 1px solid #333;
    font-size: 18px;
}
/*pop up animation style*/
#popup.popupDiv{
    /*top: -500px;*/
    position: absolute;
    bottom: 0;
    right: 0;
    animation: popupDrop 0.5s ease forwards;
}
#home #introduction{
    border-bottom: 1px solid #dddccc;
}
.read-more{
    position: absolute;
    padding-top: 5px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 100%;
}
.read-more a{
    text-decoration: none;
    cursor: pointer;
}
.read-more a:hover{
    border-bottom: 1px solid #345;
}
#home div:last-child{
    border-bottom: none;
}
@keyframes popupDrop{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media only screen and ( max-width:768px) {

    div.members article.member, div.about article,  div#data {
        width:100%;
        height: auto;
        clear:both;
        margin: 0.5  5px;
    } 
    div#image{
        clear: both;
        height: 120px;
        margin-bottom: 5px;
    }
    div#login-form{
        width:100%;
    }

    .masthead{
        font-weight: 800;
         height:50vh;
        padding:200px 0 200px;
        text-align: center;
    }
    .mainView, .minorView{
        width:100%;
        clear:both;
    }
    
    .dashboard{
        width: 23%;
    }

    ls#profile{
        margin-bottom: 5px;
    }
    .mainDisplay{
        width: 77%;
    }
    
    div#summary, div#change, div#password{
        margin: auto;
    }
}
@media only screen and ( min-width:768px){
    .masthead{
        height:50vh;
        padding:200px 0 200px;
        text-align: center;
    }
    article.member{
        width:33%;
        margin: 0.5px;
        padding: 1px;
    }
    .signup-form{
        margin:auto; 
        width: 400px;   
    }
    .minorView a{
        font-style:normal;
        font-size: 20px;
    }
}

@media only screen and (min-width:924px){

    article.member{
        width:33%;
        margin: 0.5px;
        padding: 1px;
    }
    .masthead{
         height:50vh;
         font-weight: 800;
        padding:200px 0 200px;
        text-align: center;
    }
}

.mainDisplay{
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
}

#rply1{
    display: none;
}
